@charset "UTF-8";
@charset "utf-8";

body {
  width: 100%;
  height: auto;
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #9E9E9E; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: #D9D9D9;  /*스크롤바 뒷 배경 색상*/
}
#container_sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.pagetitlte {
  font-size: 1.6vw;
  position: absolute;
  display: inline-block;
  top: 100px;
  margin-left: 48%;
  left: -50px;
}


/* left_Area================================================================= */
.grey_line {
  position: relative;
  bottom: 34%;
  left: 1%;
  width: 1px;
  height: 700px;
  border-left: 1px solid #fff;
}



/* tab_Area================================================================= */

#tab_Area {
  position: absolute;
  top: 190px;
  width: 60%;
  margin-left: 21%;
  height: 51%; /*700px;*/
  border: 5px solid #D9D9D9;
  border-radius: 10px 0 10px 10px;
}


.tab-content {
  position: relative;
}

.tab_Btns {
  position: relative;
  width: 100%;
  height: 100%;
}


.tabcontents {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3%;
}

#imgBox {
  position: relative;
  top: 3%;
  width: 90%;
  margin: 0 auto;
  height: 40%;
  padding: 3% 5%;
  background-color: #D9D9D9;
  box-sizing: border-box;

}
#imgBox > img {
  display: inline-block;
  width: 23%;
  height: 200px;
  margin-right: 2.5%;
  box-sizing: border-box;
  border: 3px solid #fff;
}

#mainInfo{
  position: absolute;
  right: 3.5%;
  top: 12%;
  width: 20%;
  background-color: pink;
}

#mainInfo > p{
  margin-bottom: 3%;
}

/* ======================rmInfoBox */


.rmInfoBox{
  position: relative;
  top: 5%;
  margin: 0 auto;
  width: 90%;

  box-sizing: border-box;
  border: 3px solid darkgrey;
  height: 50%;
}

.rmInfo{}

.rminfonames{}

/*=========================================tabBox*/
.inputbox {
  position: absolute;
  width: 70%;
  height: 120%;
  background-color: #efefef;
  left: 23%;
  top: 9%;
  margin-bottom: 40px;
}
#tabBox {
  position: relative;
  width: 100%;
  height: 98%;
  top:2%;

  margin: -37px;
  overflow-x: hidden;
}


.formbox2 {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 90%;
  padding: 1.5% 5%;
  left: 3%;
  top: 30px;
}

.formbox2 input[type="text"] {
  position: absolute;
  border: none;
  width: 20%;
  height: 45%;
}

.formbox2 input[type="tel"] {
  position: absolute;
  border: none;
  width: 18%;
  height: 45%;
}
#zip {
  position: absolute;
  top: 2%;
  right: 56%;
  width: 12%;
}

.edit_btn {
  position: absolute;
  right: 13%;
  top: 80%;
  width: 9%;
  background-color: #91d3f9;
  text-align: center;
  height: 5%;
  border-radius: 5px;
  /* border: none; */
  color: #fff;
}
/* ㅈ======================================= */
#edit_btn2 {
  position: absolute;
  margin-top: 32%;
  right: 10%;
  margin-bottom: 20px;
}
input[type="checkbox"] {
  width: 3%;
}

#myhospital_info_form {
  position: relative;
  /*border: 1px solid red;*/
  top: 4vh;
  font-size: 1vw;
}


.list {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 0.7vw;
  top: 40px;
  margin-left: 3.1%;
}
.list p {
  font-size: 1vw;
  margin-left: 5%;
  margin-top: 1%;
}
.form-element {
  position: relative;
  width: 90px;
  height: 55px;
}
.form-element:first-of-type {
  margin-left: 9.5%;
}
.form-element input {
  display: none;
}
.form-element label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 2px solid #ddd;
  background: #fff;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}
.form-element label:before {
  content: "✓";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 5px;
  background: #91d3f9;
  color: #fff;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease-in-out;
}
.form-element input:checked + label:before {
  opacity: 1;
  transform: scale(1);
}
.form-element input:checked + label .title {
  color: #91d3f9;
}
.form-element input:checked + label {
  border: 2px solid #91d3f9;
}

.subject {
  position: absolute;
  /*border: 1px solid orange;*/
  height: 80%;
}
.subject fieldset {
  position: relative;
  width: 15%;
  left: 22%;
  bottom: 20%;
  margin: 0 5% 0 0;
  padding: 1% 2%;
}

.run_time {
  position: relative;
  /* top: 110%; */
  /* margin-left: 0px; */
  width: 90%;
  height: auto;
}
.run_time fieldset {
  position: relative;
  background: none;
  width: 90%;
  left: 19.5%;
  /* top: -21%; */
}



.hosIntro {
  position: relative;
}
.timeTitle {
  position: relative;
  top: 30px;
}

.sub {
  font-size: 0.7vw;
  margin-left: 25px;
}
.run_time input {
  margin-right: 3%;
}
.fullChk {
  position: absolute;
  margin-left: 69.5%;
  top: -50px;
}
.notfilter input {
  position: absolute;
  width: 18%;
  left: 25%;
  border-radius: 10px;
  height: 30%;
}
#tab-2btn {
  position: absolute;
  left: 45%;
}

#tel_front {
  position: absolute;
  left: 25%;
}
#tel {
  position: absolute;
  left: 30.5%;
  top: 15px;
}

#zip {
  position: absolute;
  top: 2%;
}

#hospital_address {
  position: absolute;
  bottom: -12%;
}
textarea {
  display: block;
  position: relative;
  resize: none;
  /* background-color: red; */
  width: 60%;
  height: 18vh;
  left: 22%;
  margin-top: -40px;
  margin-bottom: 120px;
}
.address_input_2 {
  position: absolute;
  width: 50%;
  margin-top: 2%;
}
.address_input_3 {
  position: absolute;
  width: 25%;
  margin-top: 2%;
  margin-left: 21.5%;
}
.tab_Btns a {
  z-index: 10000;
}
.yOrNo{
  position: relative;
  top: 0%;
  left: 85%;
}

.barogagy{
  position: relative;
  display: inline-block;
  top: 10%;
  width: 90px;
  height: 30px;
  padding: 1 0.5%;
  background: #91d3f9;
  border-radius: 5px;
  color:#fff;
  text-align: center;
  line-height: 200%;
}
/*==============================================footer*/

footer {
  position: relative;
  bottom: 0;
  margin-top: 20%;
  background-color: #D9D9D9;
}


/* fieldset {
  width: 25%;
  background-color: #fff;
  border-radius: 10px;
  float: left;
  z-index: 100;
} */

form::after {
  display: block;
  content: "";
  clear: both;
}
