@charset "utf-8";

body {
  width: 100%;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #056cf2; /* 스크롤바의 색상 */
}
body::-webkit-scrollbar-track {
  background: #f1f6f5;
}
#container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.hidden {
  display: none;
}

#sidebar_Area {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 4000px;
  z-index: 100;
  box-sizing: border-box;
  background-color: #056cf2;
}

#hp_pageTitle {
  position: absolute;
  width: 300px;
  margin-left: 53%;
  top: 5%;
  left: -150px;
  font-size: 1.6vw;
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(71, 70, 70, 0.25); */
}

#filter_Area {
  position: relative;
  width: 100%;
  top: 300px;
  box-sizing: border-box;
  padding: 3% 20%;
  background-color: #f4fcff;
  margin-bottom: 5%;
}

#filter_Area::after {
  clear: both;
  content: "";
  display: block;
}

[type="radio"],
[type="checkbox"] {
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;

  border: 1px solid #056cf2;
  background: #ffff;
  box-shadow: 0px 4px 4px #f2efe9;
}

[type="radio"]:checked,
[type="checkbox"]:checked {
  background: #056cf2;
  vertical-align: middle;
  box-shadow: 0px 4px 4px #f2efe9;
}

.category {
  position: relative;
  width: 23%;
  height: 220px;
  float: left;
  margin-left: 10%;
  /* margin-right: 5%; */
  margin-bottom: 10%;
}

.categoryName {
  position: relative;

  text-shadow: 0px 4px 4px rgba(71, 70, 70, 0.25);
}

.filterbox {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10%;
  border: 1px solid #f4fcff;
  background-color: #ffff;
}
.filterbox::-webkit-scrollbar {
  width: 5px;
}

.filterbox::-webkit-scrollbar-thumb {
  background-color: #056cf2;
  height: 25px;
}
.filterbox::-webkit-scrollbar-track {
  background-color: #dddcdc;
}

.filterbox input {
  margin-bottom: 20px;
}
.filterbox span {
  position: relative;
  display: inline-block;
  width: 80%;
  top: -3%;
  margin-left: 2%;
}

.filterbox {
  overflow-y: scroll;
}

#submitBtn {
  position: absolute;
  width: 5%;
  height: 50px;
  right: 15%;
  bottom: 12%;
  color: #056cf2;
  border: 1px solid #056cf2;
  box-shadow: 0px 2px 2px #777777;
  background-color: #ffff;
}

#submitBtn:hover {
  transition: 0.2s ease-in-out;
  background-color: #056cf2;
  color: #ffff;
}

#hospitalList_Area {
  position: relative;
  top: 360px;
  width: 100%;
  padding: 0 0 0 4%;
  box-sizing: border-box;
}

#hp_list {
  position: relative;
  width: 72%;
  height: 1170px;
  padding-top: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.hp_con {
  position: relative;
  width: 30%;
  height: 210px;
  margin-right: 3%;
  margin-bottom: 8%;
  float: left;
}

.hp_con a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  padding-right: 3px;
}

.hp_con img {
  position: absolute;
  display: block;
  left: 0;
  width: 54%;
  height: 100%;
  box-sizing: border-box;
}

.hp_conInfo {
  position: absolute;
  display: block;
  right: 10px;
  width: 40%;
  height: 100%;
  line-height: 2em;
  font-weight: bold;
  box-sizing: border-box;
  margin-top: 3%;
}
.hp_conInfo span {
  display: block;
  font-size: 0.8em;
  margin-bottom: 7px;
}
.hp_conInfo span:hover,
.hp_conInfo p:hover {
  color: #056cf2;
}

.hp_titles {
  font-weight: bold;
  margin-top: -10%;
  font-size: 1.1em;
  margin-bottom: 4%;
}

.hp_seeMore {
  position: absolute;
  display: inline-block;
  left: 5px;
  width: 100px;
  bottom: 5px;
  font-weight: bold;
}

.hp_sort {
  position: absolute;
  width: 110px;
  height: 30px;
  top: -5%;
  left: 17.5%;
}
#paging {
  margin-left: 15px;
  
    padding-top: 25px;
}
#paging a {
  font-size: 1em;
  margin-left: 5px;
}
#paging a:hover {
  color: #4f94ee;
}
.ar1 {
  font-size: 1em;
}
.ar2 {
  font-size: 1em;
}
/* 
  #divPaging {
    position: absolute;
    bottom: 0;
    clear: both;
    width: 20%;
    left: 55%;
    padding: 0 1.6%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
  }

  #divPaging div {
    float: left;
    text-align: center;
    margin-right: 4%;
  }

  .pagingNumber .prevNext {
    position: relative;
    width: 25%;
  }

  #divPaging a {
    width: 100%;
  }

  #divPaging a:hover {
    color: #4f94ee;
  } */

/* ffofofofooofofoffofoofofofofofofofofoter */
#hos_sch_name {
  border: none;
  width: 280px;
  margin-left: 36%;
  height: 35px;
  text-align: center;
  border-bottom: 2px solid #4f94ee3d;
}
footer {
  margin-top: 500px;
  background-color: #4f94ee;
  /* z-index: 999; */
}

/* ============================================================================ */

/* ============================================================ */
