*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 데스크탑 모드 :최소 1024 ~ 최대 */
@media (min-width:1024px) {
#sidebar_Area{
    position: absolute;
    left: 0;
    width: 3%;
    top: 0;
    height: 2770px;
    background-color: #F27F3D;
    z-index: 1000;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #F27F3D; /* 스크롤바의 색상 */
}
body::-webkit-scrollbar-track {
  background: #f1f6f5;
}
.mypet_info{
    position: fixed;
    right: 0;
    width: 120px;/*120px;*/
    height:80px;
    font-size: 12pt;
    top: 30%;   
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    background-color: #FFC560;
}
.mypet_info a{
   position: absolute;
   box-sizing: border-box;
   padding: 3% 0;
   width: 100%;
   height: 100%;
   color: #3F3F3F;
   z-index: 1000;
   line-height: 25px;
   text-align: center;
   display: block;
   letter-spacing: 2px;
}

.mypet_info a img{
  width: 30%;
  height: 30%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}



/*병원이름 구분선*/
#line{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    border: 3px solid #D9D9D9;

}


.container{
    position: relative;
    width: 100%;
    /*margin: 0 auto;*/
    
}

/*컨텐츠영역 시작*/
.contentArea{
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20%;
    bottom: 40%;
    height: 2000px;
    top: 90px;
    overflow:hidden;
}
.contentArea h2{
    font-size: 32px;  /*확정*/
}



/*hospitalInfo_동물병원 정보 섹션 시작*/

#hospitalInfo{
    position: relative;
    height: 600px;
    width: 100%;
}
.hospitalPic{
    position: absolute;
    box-sizing: border-box;
    width: 45%;
    height: 80%;
}

.bigPic{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    
}
.smallPic{
   position: relative;
   box-sizing: border-box;
   width: 33.333%;
   height: 190px;
  
   
}
.hospitalPic ul{
    position: relative;
    top: 70%;
}
.hospitalPic ul li img{
    position: relative;
    float: left;
}
.hospitalPic ul::after{
    display: block;
    content: "";
    clear: both;
}
#hospitalInfo::after{
    display: block;
    content: "";
    clear: both;
}

#infoDetail{
   
    position: absolute;
    float: right;
    padding: 0 3%;
    box-sizing: border-box;
    width: 50%;
    margin-left: 5%;
    height: 88%;
    top: 0;
    right: 0;
    padding-top: 1%;
    border-radius:5px;
    background-color:#FFF1DC;
    
}
#infoDetail p{
    position: relative;
    font-size: 1.0vw;
    margin: 10% 0;
    width: 100%;
}

.small_p{
  position: absolute;
  
}

#infoDetail .big_p{
 position: absolute;
 top: 50%;
}

#infoDetail h3{
    position: relative;
    font-size: 1.1vw;
    margin: 5% 0;
    
}
#infoDetail h3 span{
    font-size: 0.8vw;
}

#hos_intro{
	 position: relative;
	 top: 10%;
	 padding: 0% 10%;
	 box-sizing: border-box;
	 left:-1%;
}

.info_btn{
    position: relative;
    width: 32%;
    height: 9%;
    
    
}


.info_btn a{
    position: absolute;
    bottom:70%;
    width: 100%;
    height: 100%;
    background-color: #F27F3D;
    border-radius: 5px;
    text-align: center;
    color: #F2EFE9;
    text-decoration: none; 
    font-size: 0.9vw;
    line-height: 40px;
}
#consulting {
   position: absolute;
   right: 60%;
   bottom: 0;
   
    
}
#reservation {
    position: absolute;
    left: 40%;
    bottom: 0;
 
   
}

.fast_contact{
    position: absolute;
    right: 5%;
    top: 0%;
   
}
.fast_contact img{
    width: 2vw;
    height: 2vw;
}

.tel{
    position: absolute;
    top:86%;
    left: 15%;
}
#hos_tel{
	 position: absolute;
	 right:33%;
	 top:65%;
}


/*hospitalInfo_동물병원 정보 섹션 끝*/

h3>span{
	font-size:0.8vw;
}


/*review 섹션 시작*/
#review{
    position: relative;
    top: 100px;
    width: 100%;
    background-color: #FBA16E;
    height: 25%;
}

.reviewCanvas{
    position: relative;
    width: 100%;
    background-color: #FBA16E;
    height: /*450px;*/ 70%;
    
    overflow: hidden;
}
.review_panel{
   
    box-sizing: border-box;
    position: relative;
    width: 400%;/*3000px;*/
    height: 80%;/*351px;*/
}

.review_box{
    position: relative;
    box-sizing: border-box;
    width: 6%;/*304px;*/
    float: left;
    
    margin-right:2%;/*30px 60px 30px 0;*/
    height: 80%;/*280px;*/
    left: 1.6%;/*50px;*/
    text-overflow: ellipsis;
    

}
/*===================새로추가한부분==========================*/

.star{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 20%;
    left: 0;
    text-align: center;
    font-size: 1.4vw;
    line-height: 200%;
    background-color: #F1F6F9;
    border-radius: 5px 5px 0 0;

    
}


/*==========================================================*/
.score{
    display: inline-block;
    margin: 30px 0;
    font-size: 1.3vw;
    position: relative;
    left: 100px;
   
}



.review_list{
    /*border: 3px solid red;*/
    position: absolute;
    background-color: #FFF9DE;
    border-radius: 10px;
    /*float: left;*/
    padding: 0 5%;/*0 20px;*/
    height: 100%;
    width: 100%;
    right: 0%;
   text-overflow: ellipsis;
    
}

.review_panel::after{
    display: block;
    content: "";
    clear: both;
}

.review_list .rv_text{
 
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    bottom: 0;
    /*top: 0%;*/
    margin-top: 15%;
    text-overflow: ellipsis;
    padding: 0 3%;
    line-height: 180%;
    text-align: justify;
    font-size:  0.9vw;
}


.review_nonExist{
	font-size:  1.6em;
	position:relative;
	left:8%;
	top:25%;
}

.left_btn{
    position: absolute;
    top: 80px;
    left: -10px;
    cursor: pointer;
}

.right_btn{
    position: absolute;
    top: 80px;
    right: -10px;
    cursor: pointer;
}
#review_write_btn{
    position: absolute;
    bottom: 7%;
    right: 7%;
    width: 17%;/*170px;*/
    height: 10%;
    background-color: #F27F3D;
    border-radius: 5px;
    text-align: center;
    color: #F2EFE9;
    line-height: 45px;
    cursor:pointer;

}



.text-ellipsis {
	
	white-space:normal;
    display: -webkit-box;
    
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

}

.text-ellipsis > * {
	overflow: hidden;
	text-overflow: ellipsis;
}

/*review 섹션 끝*/




/*map 섹션 시작*/
#map{

    position: relative;
    top: 400px;
    
    height: 55%;
    /*margin-bottom: 20%;*/
}



#map_info{

    width: 30%;
    position: absolute;
    bottom:0%;
    right: 20%;
    height: 20%;
    padding: 2% 0 3% 3%;
    box-sizing: border-box;
}

#map_info p{
    position: relative;
    font-size: 1.1vw;
    line-height: 210%;
    margin-bottom: 12%;
}



#map_info span{
    font-size: 1.2vw;
}

.map_btn{
    position: absolute;
    bottom: 5%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.map_btn a{
    font-size: 20px;
    
}

.map_btn img{
    position: relative;
    width: 20%;
    
    top: 5px;
    margin-right: 3%;
}

.map_share{
    position: relative;
    right: 30%;
}

.map_addr{
    position: relative;
    left: 70%;
}
/*map 섹션 끝*/    
   





/*===================================================================================footer*/
footer {
    background-color: #fba16e;
    top: 110px;;/*띄우는 건 알아서*/
    overflow:hidden;
  }
  
  
}

/* 테블릿 모드:최소 763 ~ 1023 */
@media (min-width:763px) and (max-width:1023px) {/*테블릿은 최소값 최대값 다 잡아줘야 함*/
    #sidebar_Area{
        position: absolute;
        left: 0;
        width: 3%;
        top: 0;
        height: 3460px;
        background-color: #F27F3D;
        z-index: 1000;
    }
    
    .mypet_info{
        position: fixed;
        right: 0;
        width: 120px;/*120px;*/
        height:80px;
        font-size: 15px;
        top: 30%;   
        border-radius: 10px 0 0 10px;
        cursor: pointer;
        background-color: #FFC560;
    }
    .mypet_info a{
       position: absolute;
       box-sizing: border-box;
       padding: 3% 0;
       width: 100%;
       height: 100%;
       color: #3F3F3F;
       z-index: 1000;
       line-height: 25px;
       text-align: center;
       display: block;
       letter-spacing: 2px;
    }
    
    .mypet_info a img{
      width: 30%;
      height: 30%;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%, -50%);
    }
    
    /*위로가기 버튼*/
    .up_btn{
        position: absolute;
        right: 1%;
        bottom: 0%;
    }
    
    /*병원이름 구분선*/
    #line{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 30px;
        border: 3px solid #D9D9D9;
        box-sizing: border-box;
    
    }
    
    
    .container{
        position: relative;
        width: 100%;
        /*margin: 0 auto;*/
        
    }

    /*컨텐츠영역 시작*/
.contentArea{
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20%;
    bottom: 40%;
    height: 2000px;
    top: 60px;
}
.contentArea h2{
   font-size: 32px;  /*확정*/
   position: relative;
   left: 38%;
  
}
/*hospitalInfo_동물병원 정보 섹션 시작*/

#hospitalInfo{
    position: relative;
    height: 600px;
    width: 100%;
}
.hospitalPic{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 80%;
}

.bigPic{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
}
.smallPic{
   position: relative;
   box-sizing: border-box;
   width: 33.333%;
   height: 190px;
   
}

.hospitalPic ul{
    position: relative;
    top: 70%;
}
.hospitalPic ul li a img{
    position: relative;
    float: left;
}
.hospitalPic ul::after{
    display: block;
    content: "";
    clear: both;
}


#infoDetail{
    position: absolute;
    /*float: right;*/
    padding: 0 3%;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0%;
    height: 88%;
    top: 100%;
    right: 0;
    padding-top: 1%;
    
}
#infoDetail p{
    position: relative;
    font-size: 12pt;
    margin: 10% 0;
    width: 100%;
}

.small_p{
  position: absolute;
  
}

#infoDetail .big_p{
 position: absolute;
 top: 40%;
}

#infoDetail h3{
    position: relative;
    font-size: 17pt;
    margin-bottom: 20px;
}
#infoDetail h3 span{
    font-size: 10pt;
}



.info_btn{
    position: absolute;
    width: 32%;
    height: 9%;
}
.info_btn a{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F27F3D;
    border-radius: 5px;
    text-align: center;
    color: #F2EFE9;
    text-decoration: none; 
    font-size: 0.9vw;
    line-height: 40px;
}
#consulting {
   position: absolute;
   right: 60%;
   bottom: 10%;
   
    
}
#reservation {
    position: absolute;
    left: 60%;
    bottom: 10%;
 
   
}

.fast_contact{
    position: absolute;
    right: 5%;
    top: 0%;
   
}
.fast_contact img{
    width: 3vw;
    height: 3vw;
}

.tel{
    position: absolute;
    right: 15%;
}
/*hospitalInfo_동물병원 정보 섹션 끝*/

/*review 섹션 시작*/
#review{
    position: relative;
    top: 600px;
    width: 100%;
    background-color: #FBA16E;
    height: 25%;
}

.reviewCanvas{
    position: relative;
    width: 100%;
    background-color: #FBA16E;
    height: /*450px;*/ 90%;
    overflow: hidden;
}
.review_panel{
    border: 1px solid red;
    box-sizing: border-box;
    position: relative;
    width: 400%;/*3000px;*/
    height: 80%;/*351px;*/
}

.review_box{
    position: relative;
    width: 9%;/*304px;*/
    float: left;
    
    margin: 1% 3% 1% 0;/*30px 60px 30px 0;*/
    height: 80%;/*280px;*/
    left: 2%;/*50px;*/

}

.score{
    display: inline-block;
    margin: 30px 0;
    font-size: 25px;
    position: relative;
    left: 100px;
}


.star{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 20%;
    left: 0;
    text-align: center;
    font-size: 1.3vw;
    line-height: 200%;
    background-color: #F6F1F1;
    border-radius: 5px 5px 0 0;

    
}



.review_list{
    /*border: 3px solid red;*/
    position: relative;
    background-color: #fff;
    float: left;
    padding: 0 5%;/*0 20px;*/
    height: 100%;
    width: 100%;
    right: 0%;
    text-overflow: ellipsis;
    
}

.review_panel::after{
    display: block;
    content: "";
    clear: both;
}

.review_list .rv_text{
    border: 1px solid blue;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    bottom: 0;
    /*top: 0%;*/
    margin-top: 15%;
    text-overflow: ellipsis;
    padding: 0 3%;
    line-height: 180%;
    text-align: justify;
    font-size:  0.9em;
}


.review_list img{
    position: relative;
    margin-top: 3vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.left_btn{
    position: absolute;
    top: 150px;
    left: -10px;
}

.right_btn{
    position: absolute;
    top: 150px;
    right: -10px;
}

.review_write_btn{
    position: absolute;
    bottom: 0%;
    width: 15%;
    right: 10%;
    height: 10%;
    background-color: #F27F3D;
    border-radius: 5px;
}

.review_write_btn a{
    display: block;
    position: absolute;
    width: 100%;/*170px;*/
    font-size: 0.9vw;
    text-align: center;
    color: #F2EFE9;
    line-height: 45px;
}

.text-ellipsis {
	
	white-space:normal;
    display: -webkit-box;
    
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

}

.text-ellipsis > * {
	overflow: hidden;
	text-overflow: ellipsis;
}





/*review 섹션 끝*/

/*map 섹션 시작*/
#map{
    
    box-sizing: border-box;
    position: relative;
    top: 800px;
    height: 30%;
    /*margin-bottom: 20%;*/
}

#map_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

#map_info{
    border: 1px solid pink;
    width: 100%;
    position: absolute;
    top: 600px;
    height: 80%;
    padding: 2% 0 3% 3%;
    box-sizing: border-box;
}

#map_info p{
    position: relative;
    font-size: 1.2vw;
    line-height: 210%;
    margin-bottom: 12%;
}

#subway{
    position: relative;
    padding-bottom: 10%;
    box-sizing: border-box;
}

#map_info span{
    font-size: 15px;
}

.map_btn{
    position: absolute;
    top: 1000px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map_btn a{
    font-size: 20px;
}

.map_btn img{
    position: relative;
    width: 10%;
    top: 5px;
    margin-right: 3%;
}

.map_share{
    position: relative;
    left: 0%;
}

.map_addr{
    position: relative;
    left: 15%;
}

/*map 섹션 끝*/   


/*=====================================================================footer*/
footer {
    position:relative;
    background-color: #fba16e;
    top: 1030px; /*띄우는 건 알아서*/
  }

}


@media (max-width:767px){  /*모바일 버전*/
    #sidebar_Area{
        position: absolute;
        left: 0;
        width: 3%;
        top: 0;
        height: 2315px;
        background-color: #F27F3D;
        z-index: 1000;
    }
    
    .mypet_info{
        position: fixed;
        right: 0;
        width: 90px;/*120px;*/
        height:80px;
        font-size: 15px;
        top: 30%;   
        border-radius: 10px 0 0 10px;
        cursor: pointer;
        background-color: #FFC560;
    }
    .mypet_info a{
       position: absolute;
       box-sizing: border-box;
       padding: 3% 0;
       width: 100%;
       height: 100%;
       color: #3F3F3F;
       z-index: 1000;
       line-height: 25px;
       text-align: center;
       display: block;
       letter-spacing: 2px;
    }
    
    .mypet_info a img{
      width: 30%;
      height: 30%;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%, -50%);
    }
    
    /*위로가기 버튼*/
    .up_btn{
        position: absolute;
        right: 1%;
        bottom: 0%;
    }
    
    /*병원이름 구분선*/
    #line{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 30px;
        border: 3px solid #D9D9D9;
        box-sizing: border-box;
    
    }
    
    
    .container{
        position: relative;
        width: 100%;
        /*margin: 0 auto;*/
        
    }

    /*컨텐츠영역 시작*/
.contentArea{
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20%;
    bottom: 40%;
    height: 2000px;
    top: 60px;
}
.contentArea h2{
   font-size: 32px;  /*확정*/
   position: relative;
   left: 38%;
  
}
/*hospitalInfo_동물병원 정보 섹션 시작*/

#hospitalInfo{
    position: relative;
    height: 600px;
    width: 100%;
}
.hospitalPic{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 80%;
}

.bigPic{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
}
.smallPic{
   position: relative;
   box-sizing: border-box;
   width: 33.333%;
   height: 190px;
   
}

.hospitalPic ul{
    position: relative;
    top: 70%;
}
.hospitalPic ul li a img{
    position: relative;
    float: left;
}
.hospitalPic ul::after{
    display: block;
    content: "";
    clear: both;
}


#infoDetail{
    position: absolute;
    /*float: right;*/
    padding: 0 3%;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0%;
    height: 88%;
    top: 100%;
    right: 0;
    padding-top: 1%;
    
}
#infoDetail p{
    position: relative;
    font-size: 15px;
    margin: 10% 0;
    width: 100%;
}

.small_p{
  position: absolute;
  
}

#infoDetail .big_p{
 position: absolute;
 top: 40%;
}

#infoDetail h3{
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
}
#infoDetail h3 span{
    font-size: 0.7vw
}



.info_btn{
    position: absolute;
    width: 32%;
    height: 9%;
}
.info_btn a{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F27F3D;
    border-radius: 5px;
    text-align: center;
    color: #F2EFE9;
    text-decoration: none; 
    font-size: 0.9vw;
    line-height: 40px;
}
#consulting {
   position: absolute;
   right: 60%;
   bottom: 0%;
   
    
}
#reservation {
    position: absolute;
    left: 60%;
    bottom: 0%;
 
   
}

.fast_contact{
    position: absolute;
    right: 5%;
    top: 0%;
   
}
.fast_contact img{
    width: 3vw;
    height: 3vw;
}

.tel{
    position: absolute;
    right: 15%;
}
/*hospitalInfo_동물병원 정보 섹션 끝*/

/*review 섹션 시작*/
#review{
    position: relative;
    top: 600px;
    width: 100%;
    background-color: #FBA16E;
    height: 25%;
}

.reviewCanvas{
    position: relative;
    width: 100%;
    background-color: #FBA16E;
    height: /*450px;*/ 90%;
    overflow: hidden;
}
.review_panel{
    border: 1px solid red;
    box-sizing: border-box;
    position: relative;
    width: 400%;/*3000px;*/
    height: 80%;/*351px;*/
}

.review_box{
    position: relative;
    width: 15%;/*304px;*/
    float: left;
    
    margin: 1% 5% 1% 0;/*30px 60px 30px 0;*/
    height: 80%;/*280px;*/
    left: 5%;/*50px;*/

}

.score{
    display: inline-block;
    margin: 30px 0;
    font-size: 25px;
    position: relative;
    left: 100px;
}
.review_list{
    /*border: 3px solid red;*/
    position: relative;
    background-color: #fff;
    float: left;
    padding: 0 5%;/*0 20px;*/
    height: 100%;
    width: 100%;
    right: 0%;
    text-overflow: ellipsis;
    
}

.review_panel::after{
    display: block;
    content: "";
    clear: both;
}

.review_list p{
    border: 1px solid blue;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0%;
    margin-top: 20%;
    box-sizing: border-box;
    padding: 0% 3%;
    line-height: 180%;
    text-align: justify;
    font-size:  0.9em;
}

.review_list img{
    position: relative;
    margin-top: 3vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.left_btn{
    position: absolute;
    top: 150px;
    left: -10px;
}

.right_btn{
    position: absolute;
    top: 150px;
    right: -10px;
}

.review_write_btn{
    position: absolute;
    bottom: 0%;
    width: 15%;
    right: 10%;
    height: 10%;
    background-color: #F27F3D;
    border-radius: 5px;
}

.review_write_btn a{
    display: block;
    position: absolute;
    width: 100%;/*170px;*/
    font-size: 0.9vw;
    text-align: center;
    color: #F2EFE9;
    line-height: 45px;
}



.text-ellipsis {
	
	white-space:normal;
    display: -webkit-box;
    
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

}

.text-ellipsis > * {
	overflow: hidden;
	text-overflow: ellipsis;
}





/*review 섹션 끝*/


/*map 섹션 시작*/
#map{
    
    box-sizing: border-box;
    position: relative;
    top: 800px;
    height: 30%;
    /*margin-bottom: 20%;*/
}

#map_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

#map_info{
    border: 1px solid pink;
    width: 100%;
    position: absolute;
    top: 600px;
    height: 80%;
    padding: 2% 0 3% 3%;
    box-sizing: border-box;
}

#map_info p{
    position: relative;
    font-size: 1.2vw;
    line-height: 210%;
    margin-bottom: 12%;
}

#subway{
    position: relative;
    padding-bottom: 10%;
    box-sizing: border-box;
}

#map_info span{
    font-size: 15px;
}

.map_btn{
    position: absolute;
    top: 1000px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.map_btn a{
    font-size: 20px;
   
}

.map_btn img{
    position: relative;
    width: 10%;
    top: 5px;
    margin-right: 3%;
}

.map_share{
    position: relative;
    left: -10%;
    
}

.map_addr{
    position: relative;
    right: -20%;
    top: 0px;
}

/*map 섹션 끝*/   


/*==========================================================================footer*/
footer {
    background-color: #fba16e;
    top:1000px; /*띄우는 건 알아서*/
  }

}



