@charset "utf-8";
body {
  width: 100%;
  height: auto;
}


body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #9E9E9E; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: #D9D9D9;  /*스크롤바 뒷 배경 색상*/
}
input,
button,
select,
option {
  border: none;
}

#container_sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.pagetitlte {
  position: absolute;
  display: inline-block;
  top: 100px;
  margin-left: 55%;
}
#sidebar_Area {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: #9E9E9E;
}

h2 {
  position: absolute;
  top: 8%;
  font-size: 1.6vw;
  margin-left: 53%;
}

/* left_Area================================================================= */


.grey_line {
  position: absolute;
  bottom: 34%;
  left: 24%;
  width: 1px;
  height: 50%;
  border-left: 1px solid #ebe8e8;
}

#left_Area {
  position: relative;
  top: 200px;
  width: 14%;
  height: 700px;
  margin: 0 8% 0 8%;
  padding: 1% 0;
}



/* <!-- ============================구분선  */

#verticalLine {
  position: absolute;
  height: 700px;
  top: 200px;
  left: 24.5%;
  width: 1px;
  background-color: #f4f4f4;
  z-index: 999;
}
/* tab_Area================================================================= */

#tab_Area {
  position: absolute;
  top: 200px;
  width: 60%;
  margin-right: 13%;
  height: 700px;
  right: 0;
  border: 5px solid #D9D9D9;
  box-sizing: border-box;
  font-size: 1vw;
}

.tab_nav {
  position: absolute;
  right: -5.3%;
  width: 5%;
  height: 100%;
  top: -0.7%;
  /* 나중에 높이값 auto */
  display: block;
}

.tab_Btns {
  position: relative;

  width: 100%;
  height: 100%;
}
.tBtn {
  position: relative;
  margin-bottom: 3%;
  font-size: 0.9vw;
}
.tBtn1 {
  width: 100%;
  height: 15%;
}

.tBtn2 {
  width: 100%;
  height: 15%;
}
.notChoice {
  background-color:#D9D9D9;
}

.choiceTabNav {
  position: relative;
  width: 105%;
  left: -5.5%;
  border: 5px solid #D9D9D9;
  box-sizing: border-box;
  background-color: #ffff;
  border-left: 0;

  z-index: 999;
}

.tBtn a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 20% 0;
}

.tBtn span {
  display: block;
  width: 14px;
  margin: 0 auto;
}

.pointT {
  color: #fff;
}

.choiceTabNav .pointT {
  color:#9E9E9E;
}

.tabcontents {
  position: relative;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3%;
 
}

#tabBox {
  position: relative;
  width: 100%;
  height: 100%;
  
}

.total_p {
  display: inline-block;
  font-size: 1vw;
  position: absolute;
}
.total_score {
  position: absolute;
  left: 55%;
  top: 2%;
}

.total_review {
  position: absolute;
  left: 80%;
  top: 1%;
}

.gatsoo {
  color: #7db778;
}

#tabBox table {
  position: relative;
  margin: 0 auto;
  top: 10%;
  width: 90%;
  
}



td,
th {
  text-align: center;
}

th {
  font-size: 1vw;
}




.conLink{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: pink;


}

.conLink:hover{
  background-color: red;
}

td {
  line-height: 400%;
  font-size: 0.9vw;
}


.nono {

	white-space: nowrap;
}

.text-ellipsis > * {
	overflow: hidden;
	text-overflow: ellipsis;
}

thead th {
  padding: 1% 0;
}

tbody {
  position: relative;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

#tabBox span {
  color: #7db778;
}

#divPaging {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 16%;
}

.selPage {
  color: #d9d9d9;
}
#divPaging a {
  margin-left: 5px;
}

.edit_btn {
  position: absolute;
  right : 10%;
  bottom : 10%
  width: 9%;
  background-color: #9e9e9e;
  text-align: center;
  height: 6.5%;
  border-radius: 5px;
  /*border: none;*/
  color: #fff;
  border: none;
}



input[type="checkbox"]:checked {
  
  background-color:#5baa54;
}


/* ===========================================footer */

footer {

  background-color: #D9D9D9;
}
