@charset "utf-8";
::-webkit-scrollbar {
  display: none;
}
.hover_text {
  cursor: pointer;
}
button {
  cursor: pointer;
}
* {
  font: bold 40px "IBMPlexSansR";
  font-size: 15px;
}
.full {
  position: relative;
  width: 100%;
  height: auto;
}
/* .topNav {
  z-index: 100000;
} */
#first,
#third {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}
.sideTitle,
.sideTitleR {
  position: relative;
  height: 100vh;
  z-index: 1111;
}
#first > .sideTitle1 {
  background-color: #056cf2;
}
#first > .sideTitle h2 {
  color: #f2efe9;
  font-size: 2.3vw;
  vertical-align: middle;
  writing-mode: vertical-rl;
  margin: 0 auto;
  padding-top: 40%;
}
#first > img {
  width: 26.6%;
  height: 84%;
  position: absolute;
  top: 0;
  transform: scaleX(-1);
  left: -110px;
}
#first h3 {
  position: absolute;
  left: 45%;
  font-size: 3.1vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  top: 40%;
}
.mainBtn {
  position: absolute;
  top: 53%;
  left: 53%;
  width: 50%;
}
.findH {
  display: inline-flex;
  position: relative;
  width: 30%;
  left: 100px;
  margin-right: 1%;
}
.findH img {
  top: -35%;
  transform: translateY(35%);
}
.findH span {
  font-size: 1.3vw;
  color: #056cf2;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#second {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
}
#second .sideTitle2 {
  background-color: #fcb232;
}
#second .sideTitle2 > h2 > span {
  color: #f2efe9;
  writing-mode: horizontal-tb;
}
#second .sideTitle2 > h2 {
  color: #f2efe9;
  font-size: 2.3vw;
  vertical-align: middle;
  writing-mode: vertical-rl;
  margin: 0 auto;
  padding-top: 40%;
}
#second > img:first-of-type {
  position: absolute;
  top: 0;
  left: 6%;
  height: 100vh;
  width: 86%;
}

/* 24시 응급실 구역 */
/* 24시 응급실 구역 */
/* 24시 응급실 구역 */

#second > section {
  position: relative;
  display: flex;
  /* flex-direction: row; */
  height: 48%;
  /* top: -100%; */
  margin-left: 5.5%;
  width: 100%;
}
.emergency {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}
.emergency > div {
  top: 10vh;
  transform: translateY(-10%);
  flex: 1;
}
.emergency .textBtn {
  position: absolute;
  width: 100%;
  height: auto;
}
.secondText {
  width: 55%;
  position: absolute;
  margin: 0 auto;
  margin-top: 10%;
  left: 20%;
  transform: translateY(-25%);
}
.secondText > span {
  position: relative;
  display: block;
  margin-bottom: 1%;
  font-size: 1vw;
}
.emergencyBtn {
  position: relative;
  margin-top: 30%;
  margin-left: 5%;
}
.sirenImg {
  position: relative;
  width: 4%;
  height: 3%;
  margin-left: 29%;
  margin-top: 2%;
}
.secondBtn {
  position: relative;
  display: block;
  width: 25vh;
  height: 5.3vh;
  text-align: center;
  font-size: 0.86vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fcb232;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 44%;
  margin-top: -1%;
  transform: translateX(-50%);
  color: #f2efe9;
}
.animationBox1 {
  position: relative;
  width: 40vw;
  left: 100%;
  transform: translateY(-100%);
  /* top: -100%; */
  /* margin-top: 10vh; */
}
.animationBox1 > img {
  position: relative;
  display: block;
  width: 60%;
  height: 95%;
  left: 50%;
  transform: translateX(-50%);
  /* right,bottom은 애니메이션 넣을거면 변경해줘야함 */
}

#mapImg {
  position: absolute;
  display: block;
  width: 13%;
  height: 24%;
  top: 40%;
  left: 48%;
}

.petTaxi {
  position: absolute;
  margin-top: auto;
  margin-right: 9%;
}
.animationBox2 {
  position: relative;
  width: 90%;
  height: auto;
  padding-top: 20.5vh;
  margin-left: -110%;
  margin-top: auto;
}
.animationBox2 > img {
  display: block;
  width: 85%;
  height: 80%;
}
.secondText2 {
  position: relative;
  width: 45%;
  margin-top: 4%;
}
.secondBtn2 {
  position: relative;
}
.textBtn2 {
  position: relative;
  margin-top: -50%;
  margin-left: -35%;
}
.pettaxiBtn {
  position: relative;
  width: 30%;
  height: 10vh;
  margin-left: 50%;
  margin-top: 8%;
}
.pettaxiBtn > img {
  position: absolute;
  width: 16%;
  height: 51%;
  margin-left: 5%;
  margin-top: -11.7%;
  /* margin-left: 50%; */
}

/* 24시 응급실 구역 */
/* 24시 응급실 구역 */
/* 24시 응급실 구역 */

#second .sideTitleR1 {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #056cf2;
}
#second .sideTitleR1 > p {
  position: relative;
  color: #f2efe9;
  font-size: 2.3vw;
  vertical-align: middle;
  writing-mode: vertical-rl;
  margin: 0 auto;
  top: 40px;
}

#third .sideTitle3 {
  background-color: #f27f3d;
}
#third .sideTitle3 > h2 {
  color: #f2efe9;
  font-size: 2.3vw;
  vertical-align: middle;
  writing-mode: vertical-rl;
  margin: 0 auto;
  padding-top: 40%;
}
#third section {
  display: flex;
}
#third .message {
  position: relative;
  width: 45%;
  background-color: #fba16e;
  height: 100vh;
  /* overflow: hidden; */
}
.message > img {
  position: relative;
  transform: scaleX(-1);
  margin-left: -25.7%;
  margin-top: 40vh;
  width: 60%;
  height: 60%;
  z-index: 10;
  visibility: hidden;
}
.chatBox {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 6.5%;
  margin-left: -1.5%;
}
.chatBoxP {
  position: relative;
  width: 70%;
  height: 12.5vh;
  font-size: 1vw;
  vertical-align: middle;
  letter-spacing: 0.2em;
  border-radius: 40px;
  bottom: -20vh;
  /* margin-top: 3%; */
}
.chatBox span {
  position: relative;
  display: inline-block;
  margin-top: 16%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}
.chatBox .question {
  position: absolute;
  /* margin-top: 100vh; */
  background-color: #f2efe9;
  margin-left: -40%;
}
.chatBox .answer {
  position: absolute;
  background-color: #f27f3d;
  margin-left: 20%;
}

.messageText {
  position: relative;
  left: -30px;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
}
.thirdTitle {
  position: relative;
  margin-top: 25%;
  margin-left: 16%;
  height: 15%;
  width: 100%;
  font-size: 2vw;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.08em;
}
.thirdTitle .color {
  color: #f27f3d;
}
.showQ {
  position: absolute;
  font-size: 1.3vw;
  width: 25%;
  text-align: right;
  height: 12%;
  margin-top: 55%;
  margin-left: 20%;
}
.showQ > p:first-of-type{
  font-size:1vw;
}
.showQ:last-of-type {
  margin-left: 55%;
}
.showQ > p:last-of-type {
  margin-top: 9%;
  text-align: right;
  color: #f27f3d;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.messageText .goQ {
  position: absolute;
  display: block;
  width: 25%;
  height: 5.5%;
  border-radius: 5px;
  background-color: #f27f3d;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 80%;
  margin-left: 38%;
}
.goQ p {
  font-size: 1.15vw;
  color: #f2efe9;
}
#third .sideTitleR1,
.sideTitleR2 {
  position: absolute;
  top: 0;
  right: 110px;
  background-color: #056cf2;
}
#third .sideTitleR2 {
  right: 0;
  background-color: #fcb232;
}
#third .sideTitleR1 > p,
#third .sideTitleR2 > p {
  position: relative;
  color: #f2efe9;
  font-size: 2.3vw;
  vertical-align: middle;
  writing-mode: vertical-rl;
  margin: 0 auto;
  top: 33px;
}
#third .sideTitleR2 > p > span {
  color: #f2efe9;
  writing-mode: horizontal-tb;
}
iframe {
  position: absolute;
  margin-top: -55vh;
  display: none;
  left: -300px;
}
.chatbot {
  position: absolute;
  border: 1px solid blue;
  z-index: 999999999999;
  margin-top: 90vh;
  margin-left: 95%;
}
.chatbot img {
  position: absolute;
  width: 7vh;
  height: 7vh;
  object-fit: fill;
}

#first {
  /* display: none; */
}
#second {
  /* display: none; */
}
#third {
  /* display: none; */
}
#first {
  z-index: 99999;
  background-color: white;
}
#second {
  z-index: 999999;
  background-color: white;
  left: -82%;
}
#third {
  left: -88%;
  z-index: 9999999;
  /* background-color: white; */
}
#first > img {
  left: 18%;
}
#second > img:first-of-type {
  left: 12%;
}
#second > section {
  left: 3%;
}
.animationBox1 > img {
  right: 150px;
}
.animationBox2 > img {
  left: 250px;
  top: 650px;
}
.messageText {
  background-color: white;
}
.sideTitle,
.sideTitleR {
  width: 6%;
}
.sideTitle4 {
  z-index: 99999999;
  position: absolute;
  background-color: #f27f3d;
}
.sideTitle4 > h2 {
  position: relative;
  color: #f2efe9;
  font-size: 32pt;
  vertical-align: middle;
  writing-mode: vertical-rl;
  margin: 0 auto;
  top: 40px;
}
#hos_bar > p,
#eme_bar > p,
#qna_bar > h2 {
  position: relative;
  top: 40px;
  padding-top: 0;
  font-size: 2.3vw;
  margin-top: 0;
}
#hos_bar {
  right: 0px;
}
.bar_arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: auto;
  display: block;
}
#hos_bar .bar_arrow {
  display: none;
}

#ef1_b {
  position: absolute;
  left: -69.9%;
  width: 88%;
  height: 100vh;
  background-color: #056cf2;
  z-index: 1000000;
  display: none;
}
#ef1_f {
  position: absolute;
  left: -76%;
  width: 88%;
  height: 100vh;
  background-color: #fcb232;
  z-index: 1000001;
  display: none;
}

#ef2_b {
  position: absolute;
  left: -75.8%;
  width: 88%;
  height: 100vh;
  background-color: #fcb232;
  z-index: 29999999;
  display: none;
}
#ef2_f {
  position: absolute;
  left: -82%;
  width: 88%;
  height: 100vh;
  background-color: #f27f3d;
  z-index: 39999999;
  display: none;
}

#efR1_b {
  position: absolute;
  left: 94%;
  width: 6%;
  height: 100vh;
  background-color: #056cf2;
  z-index: 49999999;
  display: none;
}
#efR1_f {
  position: absolute;
  left: 93%;
  width: 0%;
  height: 100vh;
  background-color: #fcb232;
  z-index: 39999999;
  display: none;
}

#efR2_b {
  position: absolute;
  left: 88%;
  width: 6%;
  height: 100vh;
  background-color: #fcb232;
  z-index: 99999999;
  display: none;
}
#efR2_f {
  position: absolute;
  left: 87%;
  width: 0%;
  height: 100vh;
  background-color: #f27f3d;
  z-index: 899999999;
  display: none;
}

ul.topNav {
  position: absolute;
  right: -5%;
  width: 100%;
  font: 0.6vw normal;
  margin-right: 5%;
  display: block;
  justify-content: right;
  background-color: #056cf2;
  z-index: 1000000;
}
.topNav li {
  position: absolute;
  /* margin: 1% 3% 0 1%; */
  right: 32vw;
}
.topNav li:nth-of-type(2) {
  right: 23vw;
}
.topNav li:nth-of-type(3) {
  right: 16.5vw;
}
.topNav li:nth-of-type(4) {
  right: 10vw;
}
.topNav li:nth-of-type(5) {
  right: 3vw;
}

.sideTitle2 > h1,
.sideTitle1 > h1 {
  /* display: none; */
}
