@charset "utf-8";
body {
  width: 100%;
  height: auto;
  font: bold 40px "IBMPlexSansR";
  font-size: 15px;
  /* background-color: pink; */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #9e9e9e; /* 스크롤바의 색상 */
}
body::-webkit-scrollbar-track {
  background: #f1f6f5;
}
#container_sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}
.pagetitlte {
  position: absolute;
  display: inline-block;
  top: 100px;
  margin-left: 47%;
  font-size: 1.6vw;
}
#sidebar_Area {
  position: absolute;
  writing-mode: vertical-lr;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: #9e9e9e;
}
.sidetitles {
  position: relative;
  top: 20px;
  left: -5px;
  color: rgb(255, 255, 255);
}

/* tab_Area================================================================= */
/* #container_sub{
  position: relative;
  margin: 0 auto;
  text-align: center;
} */
#tab_Area {
  position: relative;
  margin: 0 auto;
  top: 230px;
  width: 50%;
  /* margin-right: 13%; */
  height: 700px;
  /* right: 0; */
  background-color: #f1efef;
  border-radius: 10px;
  box-sizing: border-box;
}
.memChoice {
  margin: 0 0 0 10%;
}
label {
}
.tabcontents {
  position: relative;
  /* background-color: yellow; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tabBox {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* background-color: white; */
  margin: 0 auto;
  /* text-align: center; */
}

.topBox {
  position: relative;
  top: 50px;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  /* 내부배경색 */
  background-color: #eee;
}

.topBox li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  line-height: 50px;
}

.dotBox {
  position: relative;
  position: relative;
  top: 100px;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  /* text-align: center; */
  /* 내부배경색 */
  background-color: #eee;
}
.dot_title {
  position: relative;
  /* left: 45%; */
  margin: 10px;
  font-size: 1.1em;
}
#gmember {
  color: #5baa54;
}
#hosmember {
  color: #4f94ee;
}
.dotBox dl {
  position: relative;
  width: 95%;
  /* border: 1px solid #aaa; */
  margin: 0 auto;
  height: 200px;
  /* margin: 10px 0; */
  background-color: white;
  overflow: hidden;
  margin-bottom: 50px;
}

.dot_text {
  position: relative;
  display: inline-block;
  left: 5%;
  margin-top: 20px;
}
.dotBox dl dd {
  position: relative;
  top: -26px;
  left: 23%;
}
.dotBox dl dd input {
  width: 20%;
  border: none;
  background: #f1efef;
  border-radius: 3px;
  text-indent: 5px;
}
#tabBox02 {
  display: none;
}
#searchBtn {
  position: relative;
  margin: 0 auto;
  top: 76px;
  width: 110px;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  padding: 9px;
  font-weight: bold;
  background-color: #9874b5;
  border: none;
}
button {
  background-color: #9874b5;
  border: none;
  color: #fff;
  font-size: 1.1em;
}
#searchBtn a {
  display: block;
  width: 100%;
}
input[name="chk"] {
  border: none;
  text-indent: 3px;
  border-radius: 8px;
  width: 300px;
  height: 40px;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label[for="lb_findGG"],
label[for="lb_findGI"] {
  position: relative;
  color: #6f6772;
  display: inline-block;
  cursor: pointer;
  /* font-weight: bold; */
  padding: 10px 25px;
  /* margin-right: 20px; */
  left: -40%;
  margin-bottom: 30px;
  font-size: 1.1em;
  font-weight: bold;
}

input[type="radio"]:checked + label[for="lb_findGG"] {
  color: #f4f4f4;
  background: #5baa54;
}
input[type="radio"]:checked + label[for="lb_findGI"] {
  color: #f4f4f4;
  background: #4f94ee;
}
.findPwd {
  position: relative;
  
    margin-left: 87%;
  top: 3%;
  padding: 10px 10px;
  background-color: #9874b5;
  color: #fff;
  border-radius: 5px;
}

/* ===========================================footer */

footer {
  position: relative;
  bottom: 0;
  margin-top: 24%;
  background-color: #d9d9d9;
}
