@charset "utf-8";

body {
  width: 100%;
  height: auto;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #91d3f9;
  height: 10%;
}
body::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
#container_sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.pagetitlte {
  font-size: 1.6vw;
  position: absolute;
  display: inline-block;
  top: 100px;
  margin-left: 50%;
}
#sidebar_Area {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: #91d3f9;
}

/* left_Area================================================================= */
.grey_line {
  position: absolute;
  bottom: 34%;
  left: 24%;
  width: 1px;
  height: 50%;
  border-left: 1px solid #ebe8e8;
}
#left_Area {
  position: relative;
  top: 200px;
  width: 14%;
  height: 700px;
  margin: 0 8% 0 8%;
  /*background-color: red;*/
}

.profileBox {
  position: relative;
  width: 100%;
  height: 30%;
}

.proimgBox {
  position: relative;
  width: 41%;
  height: 50%;
  margin: 0 auto;
  border-radius: 100%;
}

.proImg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.speech_bubble {
  position: relative;
  width: 95%;
  height: 30%;
  margin: 0 auto;
}
.speech_bubble p {
    position: absolute;
    top: 42%;
    margin-left: 20%;
    font-size: 0.9vw;
}

.leftCategory {
  position: relative;
  width: 100%;
  height: 70%;
  padding: 10%;
}

.bubbleImg {
  width: 100%;
}
.firstMenu {
  position: relative;
  margin-bottom: 10%;
  font-size: 1vw;
}
.secondMenu {
  position: relative;
  margin-bottom: 3%;
  font-size: 0.8vw;
}
.secondMenu > a:hover {
  color: #91d3f9;
}
.firstMenu .secondMenu:first-child {
  margin-top: 5px;
}
.userID {
  color: #91d3f9;
}
/* tab_Area================================================================= */

#tab_Area {
  position: absolute;
  top: 200px;
  width: 60%;
  margin-right: 13%;
  height: 51%;
  right: 0;
  border: 5px solid #91d3f9;
  border-radius: 10px 0 10px 10px;
}

.tab_nav {
  position: absolute;
  right: -5.3%;
  width: 5%;
  height: 100%;
  /* 나중에 높이값 auto */
  display: block;
  top: -0.7%;

  /*background-color: palegreen;*/
}

.tab_Btns {
  position: relative;
  width: 100%;
  height: 100%;
}

.tBtn {
  position: relative;
  margin-bottom: 3%;
  font-size: 0.9vw;
}

.tBtn1 {
  /*border: 5px solid #91D3F9;*/
  width: 100%;
  height: 15%;
  /*background-color: #fff;*/
}

.tBtn2 {
  width: 100%;
  height: 15%;
}
.tBtn3 {
  width: 100%;
  height: 15%;
}

.tBtn4 {
  width: 100%;
  height: 15%;
}
.notChoice {
  background-color: #91d3f9;
}

.choiceTabNav {
  position: relative;
  width: 105%;
  left: -5%;
  border: 5px solid #91d3f9;
  box-sizing: border-box;
  background-color: #ffff;
  border-left: 0;
  z-index: 999;
}

.tBtn a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 20% 0;
}

.tBtn span {
  display: block;
  width: 14px;
  margin: 0 auto;
}

.span3 {
  position: relative;
  display: inline;
  left: 13%;
  float: left;
  padding: 5% 6%;
  top: 10%;
}
.span4 {
  position: relative;
  top: 7%;
}

.pointT {
  color: #fff;
}

.choiceTabNav .pointT {
  color: #91d3f9;
}

.tabcontents {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3%;
}

/*=========================================tabBox*/
.inputbox {
  position: absolute;
  width: 70%;
  height: 83%;
  background-color: #efefef;
  left: 20%;
  top: 4%;
}
#my_info_form {
  position: relative;
  /*border: 1px solid red;*/
  top: 4vh;
  font-size: 1vw;
}
#tabBox {
  position: relative;
  width: 100%;
  height: 100%;
}
.formbox {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 90%;
  padding: 2% 5%;
}

.formbox input {
  position: absolute;
  width: 18%;
  left: 25%;
  border-radius: 10px;
  height: 45%;
  border: none;
  text-indent: 4px;
}

#id_confirm {
  position: absolute;
  width: 10%;
  height: 50%;
  left: 45%;
  background-color: #91d3f9;
  color: #fff;
}

#tabBox #usertel_front {
  position: absolute;
  width: 7%;
  left: 25%;
  height: 30px;
  top: 30px;
}

#tabBox #tel {
  position: absolute;
  width: 18%;
  left: 33%;
}

.edit_btn {
  position: absolute;
  right: 13%;
  top: 80%;
  width: 9%;
  background-color: #91d3f9;
  text-align: center;
  height: 5%;
  border-radius: 5px;
  /*border: none;*/
  color: #fff;
}
/*.agree input{
  position: relative;
  width: 200%;
  height: 200%;
  
}*/
input[type="radio"] {
  width: 2%;
}

input[type="radio"]:checked + input {
  color: red;
}

#agree {
  position: absolute;
  left: 25%;
}
.consent {
  position: absolute;
  left: 20%;
}
input[type="button"] {
  cursor: pointer;
}

#agree_label {
  position: absolute;
  left: 28%;
}

#disagree_label {
  position: absolute;
  left: 39%;
}
#disagree {
  position: absolute;
  left: 36%;
}
.tab_Btns a {
  z-index: 10000;
}
/*==============================================footer*/

footer {
  position: relative;
  bottom: 0;
  margin-top: 20%;
  background-color: #c5e8fd;
}

fieldset {
  width: 25%;
  border: 1px solid red;
  float: left;
}

form::after {
  display: block;
  content: "";
  clear: both;
}
