@charset "UTF-8";

body {
  width: 100%;
  height: auto;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  height: 10%;
}
body::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
#container_sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.pagetitlte {
  font-size: 1.6vw;
  position: absolute;
  display: inline-block;
  top: 100px;
  margin-left: 50%;
}
#sidebar_Area {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: #9e9e9e;
}

/* left_Area================================================================= */
.grey_line {
  position: absolute;
  bottom: 34%;
  left: 24%;
  width: 1px;
  height: 50%;
  border-left: 1px solid #ebe8e8;
}
#left_Area {
  position: relative;
  top: 177px;
  width: 14%;
  height: 700px;
  margin: 0 8% 0 8%;
  /* background-color: red;*/
}

.profileBox {
  position: relative;
  width: 100%;
  height: 30%;
}

.proimgBox {
  position: relative;
  width: 41%;
  height: 50%;
  margin: 0 auto;
  border-radius: 100%;
}

.proImg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.speech_bubble {
  position: relative;
  width: 95%;
  height: 30%;
  margin: 0 auto;
}
.speech_bubble p {
  position: absolute;
  top: 42%;
  margin-left: 20%;
  font-size: 0.9vw;
}

.leftCategory {
  position: relative;
  width: 100%;
  height: 70%;
  padding: 10%;
}

.bubbleImg {
  width: 100%;
}
.firstMenu {
  position: relative;
  margin-bottom: 10%;
  font-size: 1vw;
}
.secondMenu {
  position: relative;
  margin-bottom: 3%;
  font-size: 0.8vw;
}
.secondMenu > a:hover {
  color: #91d3f9;
}
.firstMenu .secondMenu:first-child {
  margin-top: 5px;
}
.userID {
  color: #91d3f9;
}

/* tab_Area================================================================= */

#tab_Area {
  position: absolute;
  top: 200px;
  width: 60%;
  margin-right: 13%;
  height: 51%;
  right: 0;
  border: 5px solid #d9d9d9;
  border-radius: 10px 0 10px 10px;
}

.tab_nav {
  position: absolute;
  right: -5.3%;
  width: 5%;
  height: 100%;
  /* 나중에 높이값 auto */
  display: block;
  top: -0.7%;

  /*background-color: palegreen;*/
}

.tab_Btns {
  position: relative;
  width: 100%;
  height: 100%;
}

.tab_Btns a {
  z-index: 10000;
}

.tBtn {
  position: relative;
  margin-bottom: 3%;
  font-size: 0.9vw;
  height: 16%;
  top: -2px;
}

.tBtn1 {
  /*border: 5px solid #91D3F9;*/
  width: 100%;
  /*background-color: #fff;*/
}

.tBtn2 {
  width: 100%;
}
.tBtn3 {
  width: 100%;
}
.notChoice {
  background-color: #d9d9d9;
}

.choiceTabNav {
  position: relative;
  width: 105%;
  left: -5%;
  border: 5px solid #d9d9d9;
  box-sizing: border-box;
  background-color: #ffff;
  border-left: 0;
  z-index: 999;
}
.choiceTabNav a span {
  color: #d9d9d9;
}

.tBtn a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 20% 0;
}

.tBtn span {
  display: block;
  width: 30px;
  margin: 0 auto;
  line-height: 1.25vw;
  padding-top: 3px;
}
.tabcontents {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3%;
}

/*=========================================tabBox*/
.inputbox {
  position: absolute;
  width: 70%;
  height: 83%;
  background-color: #efefef;
  left: 20%;
  top: 4%;
}

input {
  border: none;
}
/*#tabBox {
    position: relative;
    width: 100%;
    height: 100%;
    
  }*/

/*======================tabBox*/
#tabBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*border: 1px solid red;*/
  left: -3%;
  top: -5%;
}
#tabBox .total_p {
  display: inline-block;
  font-size: 1.1vw;
  position: absolute;
}
.total_score {
  position: absolute;
  left: 58%;
  top: 2%;
}

.total_review {
  position: absolute;
  left: 79%;
  top: 2%;
}
#tabBox table {
  position: relative;
  margin: 0 auto;
  top: 5%;
  width: 90%;
  height: 75%;
}

.tableBox {
  position: relative;
  top: 50px;
}
#orderby{
	position: absolute;
	left:5%;
}
form {
  position: relative;
  top: 3%;
}

th {
  font-size: 1vw;
}

td,
th {
  text-align: center;

  overflow: hidden;
}
.text-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.text-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  line-height: 400%;
  font-size: 0.9vw;
}

thead th {
  padding: 1% 0;
}
th > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tbody {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

tbody tr {
}

#tabBox span {
  color: #d9d9d9;
}

#divPaging {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 16%;
}

.selPage {
  color: #d9d9d9;
}
#divPaging a {
  margin-left: 5px;
}

.edit_btn {
  position: absolute;
  right: 10%;
  top: 2%;
  right: 84%;
  width: 9%;
  background-color: #9e9e9e;
  text-align: center;
  height: 6.5%;
  border-radius: 5px;
  /*border: none;*/
  color: #fff;
  border: none;
}

/*==============================================footer*/

footer {
  position: relative;
  bottom: 0;
  margin-top: 47%;
  background-color: #d9d9d9;
}
footer ul {
  height: 20px;
}
footer ul li {
  height: 20px;
}
#footerLogo {
  position: relative;
  top: -205px;
  display: block;
  height: 1px;
}
#footerLogo img {
  top: 0;
}
fieldset {
  width: 25%;
  background-color: #fff;
  border-radius: 10px;
  float: left;
  z-index: 100;
}

form::after {
  display: block;
  content: "";
  clear: both;
}
address {
  margin-top: 0;
}
footer .custom {
  margin-top: 6%;
}
.footBtn {
  margin-top: 11%;
}
